.uploadPageContainer {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadContainer {
    background-color: #fff;
    width: 700px;
    height: 300px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.uploadContainer .upperPart {
    flex: 7;
    background-color: #737373;
    border-radius: 30px 30px 0px 0px ;
    display: flex;
    justify-content: center;
}
.uploadContainer .lowerPart {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}